# List

1. Insertion order is preserved.
2. Heterogeneous objects are allowed.
3. Duplicates are allowed.
4. Dynamic in nature. i.e., based on our requirement you can add or remove the elements of the list.
5. lists can be represented by using square brackets [ ]
6. Indexing concept is applicable.
7. Slicing concept is applicable.
8. List is mutable (i.e., we can chnage the content of the list. It is acceptable).

# Creatiing a list

In [1]:
list = [] # we are creating an empty list

# Add an element to the list using append() method.

In [1]:
list = []
list.append(10)
list.append(20)
list.append(30)
list.append(40)
print(list)

[10, 20, 30, 40]

# Remove an element to the list using remove() method.

In [3]:
list = [10,20,30,40]
list.remove(30)
print(list)

[10, 20, 40]

# Modified an element to the list

In [4]:
list = [10,20,30,40]
list[0] = 7777
print(list)

[7777, 20, 30, 40]

# Dictionary

1. If you want to represent a group of values as key-value pairs then we should go for dict data type.

2. Order is not applicable.

3. Duplicate keys are not allowed but values can be duplicated.

4. If we are trying to insert an entry with duplicate key then old value will be replaced with new value.

5. Heterogeneous objects are allowed.

6. It is mutable.

7. Indexing, slicing is not applicable.

In general, In our english dictionary we found,

Word : Meaning

The same thing will happensin Python dictionary also.

Key points with respect to Dictionary:
    
1. Duplicate keys are not allowed but values can be duplicated.

2. If we are trying to insert an entry with duplicate key then old value will be replaced with new value.

# Creating a Dictionary

d = {key1 : value1, key2 : value2, key3 : value3}

You van take any number of key-value pairs

dictionaryName[key] = value

In [7]:
d = dict()
print(type(d))

<class 'dict'>

In [8]:
d[100]="karthi"
d[200]="sahasra"
d[300]="sri"
d['rgm'] = 'Nandyal'
print(d) #{100: 'karthi', 200: 'sahasra', 300: 'sri', 'rgm' : 'Nandyal'}

{100: 'karthi', 200: 'sahasra', 300: 'sri', 'rgm': 'Nandyal'}

# Adding  an item  to a dictionary

Adding an item to the dictionary is done by using a new index key and assigning a value to it:

In [2]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

# Deleting the elements from Dictionary

Syntax :

del d[key]

It deletes entry associated with the specified key.

If the key is not available then we will get KeyError.

In [11]:
d={100:"karthi",200:"sahasra",300:"sri"}
print(d)
del d[100]
print(d)
del d[400]

{100: 'karthi', 200: 'sahasra', 300: 'sri'}
{200: 'sahasra', 300: 'sri'}

KeyError: 400

In [12]:
#1. clear():
d={100:"karthi",200:"sahasra",300:"sri"}
print(d)
d.clear()
print(d)

{100: 'karthi', 200: 'sahasra', 300: 'sri'}
{}

In [13]:
#2.del:
#To delete total dictionary, we can use del command .Now we cannot access dictionary d.
d={100:"karthi",200:"sahasra",300:"sri"}
print(d)
del d
print(d) # d can not access so we will get NameError

{100: 'karthi', 200: 'sahasra', 300: 'sri'}

NameError: name 'd' is not defined

In [14]:
list = ['sourav','sachin','rahul']
d={100:list} # here, value is a list which cinsists of multiple objects which are a
print(d)

{100: ['sourav', 'sachin', 'rahul']}

# Modified an elements to a dictionary

In [9]:
d={100:"karthi",200:"sahasra",300:"sri"}
print(d)
d[400]="sachin"
print(d)
d[100]="sourav"
print(d)

{100: 'karthi', 200: 'sahasra', 300: 'sri'}
{100: 'karthi', 200: 'sahasra', 300: 'sri', 400: 'sachin'}
{100: 'sourav', 200: 'sahasra', 300: 'sri', 400: 'sachin'}

# Sets

1. insertion order is not preserved.

2. duplicates are not allowed.

3. heterogeneous objects are allowed.

4. index concept is not applicable.

5. It is mutable collection.

6. Growable in nature.

# Creating a Sets

In [8]:
s = {10,20,30,40}
print(type(s))

<class 'set'>

# Adding an element to a sets

In [3]:
s = {10,20,30,40}
s.add(50)
print(s)

{40, 10, 50, 20, 30}

# Removing an elements to a sets

In [2]:
s = {10,20,30,40,50}
s.remove(30) 
print(s)

{50, 20, 40, 10}

# Update an elements to a sets

In [16]:
s = {10,20,30,40,50}
s.update("Kriti")
print(s)

{'t', 10, 'K', 20, 30, 40, 'i', 50, 'r'}